In [ ]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import datetime
import requests

#function for dividing data for offers

zdroj = ["data analyst.html", "data engineer.html", "data scientist.html"]

def rozdeleni_zaznamu(zdroj):
    seznam_pozic = []
    
    try:
        for html in zdroj:
            nazev_pozice = html.split(".")[0]
            with open(html, "r") as file:
                obsah = file.read()
                data = bs(obsah, "html.parser")
                zaznamy = data.find_all("a", class_="posting-list-item")  
    
            for zaznam in zaznamy:
                seznam_pozic.append((nazev_pozice, zaznam))
        
        print("Seznam pozic byl vytvořen.")
        print("Bylo vytvořeno", len(seznam_pozic), "pozic.")
        
    except Exception:
        print("Něco se pokazilo. Zkontrolujte zdrojový kód.")
    return seznam_pozic

původní hledání (viz níže) nefunguje, protože je tam několik sekcí container, tudíž je potřeba skutečně jít už na ty položky - najde to jen položky v tom daném container, na který se to odkazuje a find_all a pak zase find_all nefungovalo. Možná by šlo find_all a pak pro každý záznam opět find_all a spojit to do seznamu, ale to je delší kód. 

data.find("div", class_= "list-container").find_all("a")

In [ ]:
#making a dictionary with information about the offer, correction of typos/translations etc.

import re

def slovnik_vytvoreni(zdroj):
    souhrn = []
    vysledek = rozdeleni_zaznamu(zdroj)
  
    for kategorie, nabidka in vysledek:
        jmeno = nabidka.find("h3", class_="posting-title__position text-truncate").text           #proč v předchozím vyhledávání (předchozí funkce) nemusel být celý název třídy?  - tam kde je find_all se dá jen ta společná část názvu, u find se musí dát celý název
        
        lokalita = nabidka.find("span", class_="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right").text
        if "Zdalnie" in lokalita:
            lokalita = "Remote"
        dalsi_lokality = (nabidka
                          .find_all("div", class_ = "tw-flex tw-items-center ng-star-inserted"))
        print(dalsi_lokality)
        lokalita_2 = dalsi_lokality[0].text
        nr_dalsich_lokalit = lokalita_2.split("+")[-1] if len(lokalita_2.split("+")) > 1 else "0"  
    


        firma = nabidka.find("h4", class_="tw-text-gray-60 company-name tw-w-[50%] lg:tw-w-auto tw-mb-0 !tw-text-xs !lg:tw-text-sm tw-font-semibold lg:tw-font-normal").text

        mzda = nabidka.find("span", class_="salary")
        ocistena_mzda = re.sub(r"\s+", "", mzda.text)
        print(ocistena_mzda)
        rozsah = re.findall(r"[0-9]+", ocistena_mzda)
        print(rozsah)
        try:
            minimum = rozsah[0]
            maximum = rozsah[1] if len(rozsah) > 1 else rozsah[0]
            mena = re.findall(r"[A-Z]+", ocistena_mzda)[0]    #šlo by to i jako mzda.text.split()[-1] (řešení dle Moniky)
        except:
            minimum = None
            maximum = None
            mena = None
        technologie = nabidka.find("div", class_="tiles-container lg:tw-w-[50%] lg:tw-pr-3 tw-flex-[0_0_50%]").text

        info = {"nazev pozice" : jmeno,
                "kategorie" : kategorie, 
                "nazev firmy" : firma, 
                "technologie" : technologie, 
                "lokalita" : lokalita,
                "počet dalsich lokalit" : nr_dalsich_lokalit, 
                "mzda" : ocistena_mzda,
                "dolni hranice" : minimum,
                "horni hranice" : maximum,
                "mena" : mena} 
            
        souhrn.append(info)

    return souhrn

seznam = slovnik_vytvoreni(zdroj)
seznam

Seznam pozic byl vytvořen.
Bylo vytvořeno 60 pozic.
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <!-- --></div>]
10080–11760PLN
['10080', '11760']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <!-- --></div>]
10000–15000PLN
['10000', '15000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +6 </span><!-- --></div>]
17000–23000PLN
['17000', '23000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <!-- --></div>]
17000–21000PLN
['17000', '21000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <!-- --></div>]
25200–33600PLN
['25200', '33600']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +2 </span><!-- --></div>]
19320–29400PLN
['19320', '29400']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +3 </span><!-- --></div>]
21000–26040PLN
['21000', '26040']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Poznań </span> <!-- --></div>]
SprawdźSalaryMatch
[]
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
17000–21000PLN
['17000', '21000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Wrocław </span> <!-- --></div>]
25200–31920PLN
['25200', '31920']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +6 </span><!-- --></div>]
20160–23520PLN
['20160', '23520']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
16800–23520PLN
['16800', '23520']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Warszawa </span> <!-- --></div>]
18666–29833PLN
['18666', '29833']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
14000–19000PLN
['14000', '19000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Warszawa </span> <!-- --></div>]
12000–16000PLN
['12000', '16000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Kraków </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +7 </span><!-- --></div>]
SprawdźSalaryMatch
[]
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
19000–25000PLN
['19000', '25000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +4 </span><!-- --></div>]
17976–25032PLN
['17976', '25032']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +5 </span><!-- --></div>]
18480–25200PLN
['18480', '25200']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <!-- --></div>]
2500–5000USD
['2500', '5000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Warszawa </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
14200–25410PLN
['14200', '25410']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Warszawa </span> <!-- --></div>]
14200–19690PLN
['14200', '19690']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
19000–25000PLN
['19000', '25000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Kraków </span> <!-- --></div>]
19300–26040PLN
['19300', '26040']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zachodniopomorskie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +2 </span><!-- --></div>]
30240–34944PLN
['30240', '34944']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +2 </span><!-- --></div>]
18143–19756PLN
['18143', '19756']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Warszawa </span> <!-- --></div>]
18666–29833PLN
['18666', '29833']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
SprawdźSalaryMatch
[]
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
20100–26800PLN
['20100', '26800']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Kraków </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +7 </span><!-- --></div>]
SprawdźSalaryMatch
[]
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <!-- --></div>]
10079–20159PLN
['10079', '20159']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +5 </span><!-- --></div>]
28560–35280PLN
['28560', '35280']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Kraków </span> <!-- --></div>]
15000–23000PLN
['15000', '23000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Warsaw </span> <!-- --></div>]
32000–42000PLN
['32000', '42000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +6 </span><!-- --></div>]
20160–23520PLN
['20160', '23520']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +5 </span><!-- --></div>]
30000–37000PLN
['30000', '37000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
29029–32657PLN
['29029', '32657']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +3 </span><!-- --></div>]
25400–31045PLN
['25400', '31045']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Warsaw </span> <!-- --></div>]
25400–29029PLN
['25400', '29029']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +4 </span><!-- --></div>]
17976–24024PLN
['17976', '24024']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +3 </span><!-- --></div>]
25000–35000PLN
['25000', '35000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
16800–23520PLN
['16800', '23520']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Warmińsko-Mazurskie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +2 </span><!-- --></div>]
28500–37000PLN
['28500', '37000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Warszawa </span> <!-- --></div>]
20160–23520PLN
['20160', '23520']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
16800–23520PLN
['16800', '23520']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
21840–25200PLN
['21840', '25200']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +1 </span><!-- --></div>]
15120–25200PLN
['15120', '25200']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Łódź </span> <!-- --></div>]
SprawdźSalaryMatch
[]
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +2 </span><!-- --></div>]
24191–32255PLN
['24191', '32255']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <!-- --></div>]
SprawdźSalaryMatch
[]
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <span _ngcontent-serverapp-c4245782677="" class="ng-star-inserted">  +6 </span><!-- --></div>]
26000–35000PLN
['26000', '35000']
[<div _ngcontent-serverapp-c4245782677="" class="tw-flex tw-items-center ng-star-inserted"><span _ngcontent-serverapp-c4245782677="" class="tw-text-ellipsis tw-inline-block tw-overflow-hidden tw-whitespace-nowrap tw-max-w-[100px] md:tw-max-w-[200px] tw-text-right"> Zdalnie </span> <!-- --></div>]
18000–22000PLN
['18000', '22000']

[{'nazev pozice': ' BI Data Analyst - Remote ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Link Group ',
  'technologie': ' Business Intelligence  •  \xa0  Tableau  •  \xa0  ETL  •  \xa0  SQL ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '0',
  'mzda': '10080–11760PLN',
  'dolni hranice': '10080',
  'horni hranice': '11760',
  'mena': 'PLN'},
 {'nazev pozice': ' Traffic Data Analyst ',
  'kategorie': 'data analyst',
  'nazev firmy': ' RTB House ',
  'technologie': ' Backend  •  \xa0  Python  •  \xa0  SQL  •  \xa0  GDS ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '0',
  'mzda': '10000–15000PLN',
  'dolni hranice': '10000',
  'horni hranice': '15000',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior Data Analyst ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Brainly Sp. z o.o. ',
  'technologie': ' Data  •  \xa0  SQL  •  \xa0  Google Analytics  •  \xa0  Tableau ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '6 ',
  'mzda': '17000–23000PLN',
  'dolni hranice': '17000',
  'horni hranice': '23000',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Analyst CRM ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Connectis_ ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  CRM  •  \xa0  SQL ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '0',
  'mzda': '17000–21000PLN',
  'dolni hranice': '17000',
  'horni hranice': '21000',
  'mena': 'PLN'},
 {'nazev pozice': ' Customer Master Data Senior Analyst ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Devire Sp. z o.o. ',
  'technologie': ' Data  •  \xa0  SQL  •  \xa0  T-SQL  •  \xa0  SAP ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '0',
  'mzda': '25200–33600PLN',
  'dolni hranice': '25200',
  'horni hranice': '33600',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer in Microsoft Azure Cloud ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Avanade Poland ',
  'technologie': ' Data  •  \xa0  Data analyst  •  \xa0  Python  •  \xa0  Azure ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '2 ',
  'mzda': '19320–29400PLN',
  'dolni hranice': '19320',
  'horni hranice': '29400',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior Power BI Dev with QlikView, AWS, Snowflake ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Sigma IT Poland ',
  'technologie': ' Business Intelligence  •  \xa0  Data analyst  •  \xa0  BI  •  \xa0  Power BI ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '3 ',
  'mzda': '21000–26040PLN',
  'dolni hranice': '21000',
  'horni hranice': '26040',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Analyst ',
  'kategorie': 'data analyst',
  'nazev firmy': ' SymphonyAI ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  SQL  •  \xa0  ETL ',
  'lokalita': ' Poznań ',
  'počet dalsich lokalit': '0',
  'mzda': 'SprawdźSalaryMatch',
  'dolni hranice': None,
  'horni hranice': None,
  'mena': None},
 {'nazev pozice': ' Analytics Engineer ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Zowie ',
  'technologie': ' Data  •  \xa0  Data analyst  •  \xa0  SQL  •  \xa0  Python ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '17000–21000PLN',
  'dolni hranice': '17000',
  'horni hranice': '21000',
  'mena': 'PLN'},
 {'nazev pozice': ' BI Developer ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Arche Consulting ',
  'technologie': ' Business Intelligence  •  \xa0  BI  •  \xa0  SQL  •  \xa0  Power BI ',
  'lokalita': ' Wrocław ',
  'počet dalsich lokalit': '0',
  'mzda': '25200–31920PLN',
  'dolni hranice': '25200',
  'horni hranice': '31920',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer with Microsoft Fabric ',
  'kategorie': 'data analyst',
  'nazev firmy': ' AVENGA ',
  'technologie': ' Data  •  \xa0  SQL  •  \xa0  Python  •  \xa0  Spark ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '6 ',
  'mzda': '20160–23520PLN',
  'dolni hranice': '20160',
  'horni hranice': '23520',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Scientist (Forecasting) ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Lingaro ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  SQL  •  \xa0  Azure ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '16800–23520PLN',
  'dolni hranice': '16800',
  'horni hranice': '23520',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Asana ',
  'technologie': ' Data  •  \xa0  Enterprise iPass  •  \xa0  Snaplogic  •  \xa0  SQL ',
  'lokalita': ' Warszawa ',
  'počet dalsich lokalit': '0',
  'mzda': '18666–29833PLN',
  'dolni hranice': '18666',
  'horni hranice': '29833',
  'mena': 'PLN'},
 {'nazev pozice': ' Software Engineer ',
  'kategorie': 'data analyst',
  'nazev firmy': ' CloudFerro S.A ',
  'technologie': ' Backend  •  \xa0  Python  •  \xa0  Linux  •  \xa0  Git ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '14000–19000PLN',
  'dolni hranice': '14000',
  'horni hranice': '19000',
  'mena': 'PLN'},
 {'nazev pozice': ' Analytics Engineer ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Sublime ',
  'technologie': ' Data  •  \xa0  SQL  •  \xa0  Data visualization  •  \xa0  Analytical skills ',
  'lokalita': ' Warszawa ',
  'počet dalsich lokalit': '0',
  'mzda': '12000–16000PLN',
  'dolni hranice': '12000',
  'horni hranice': '16000',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior Big Data Engineer (Python) ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Capgemini Polska Sp. z o.o. ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  SQL  •  \xa0  ETL ',
  'lokalita': ' Kraków ',
  'počet dalsich lokalit': '7 ',
  'mzda': 'SprawdźSalaryMatch',
  'dolni hranice': None,
  'horni hranice': None,
  'mena': None},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data analyst',
  'nazev firmy': ' SquareOne ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  GCP  •  \xa0  SQL ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '19000–25000PLN',
  'dolni hranice': '19000',
  'horni hranice': '25000',
  'mena': 'PLN'},
 {'nazev pozice': ' Snowflake Engineer ',
  'kategorie': 'data analyst',
  'nazev firmy': ' Elitmind ',
  'technologie': ' Business Intelligence  •  \xa0  English  •  \xa0  ETL  •  \xa0  Snowflake ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '4 ',
  'mzda': '17976–25032PLN',
  'dolni hranice': '17976',
  'horni hranice': '25032',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior BI Developer (with Power BI) ',
  'kategorie': 'data analyst',
  'nazev firmy': ' EBIS ',
  'technologie': ' Business Intelligence  •  \xa0  SQL  •  \xa0  SQL Server  •  \xa0  Power BI ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '5 ',
  'mzda': '18480–25200PLN',
  'dolni hranice': '18480',
  'horni hranice': '25200',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data analyst',
  'nazev firmy': ' CHI Software ',
  'technologie': ' Data  •  \xa0  Snowflake  •  \xa0  SQL  •  \xa0  Python ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '0',
  'mzda': '2500–5000USD',
  'dolni hranice': '2500',
  'horni hranice': '5000',
  'mena': 'USD'},
 {'nazev pozice': ' Contractor Big Data Engineer ',
  'kategorie': 'data engineer',
  'nazev firmy': ' OpenNet.pl Sp. z o.o. ',
  'technologie': ' Data  •  \xa0  Scala  •  \xa0  Python  •  \xa0  Java ',
  'lokalita': ' Warszawa ',
  'počet dalsich lokalit': '1 ',
  'mzda': '14200–25410PLN',
  'dolni hranice': '14200',
  'horni hranice': '25410',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer - Data Science Hub ',
  'kategorie': 'data engineer',
  'nazev firmy': ' Allegro ',
  'technologie': ' Data  •  \xa0  SQL  •  \xa0  Python  •  \xa0  DevOps ',
  'lokalita': ' Warszawa ',
  'počet dalsich lokalit': '0',
  'mzda': '14200–19690PLN',
  'dolni hranice': '14200',
  'horni hranice': '19690',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data engineer',
  'nazev firmy': ' SquareOne ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  GCP  •  \xa0  SQL ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '19000–25000PLN',
  'dolni hranice': '19000',
  'horni hranice': '25000',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data engineer',
  'nazev firmy': ' ITDS ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  Scala  •  \xa0  Unix ',
  'lokalita': ' Kraków ',
  'počet dalsich lokalit': '0',
  'mzda': '19300–26040PLN',
  'dolni hranice': '19300',
  'horni hranice': '26040',
  'mena': 'PLN'},
 {'nazev pozice': ' Big Data Engineer IV ',
  'kategorie': 'data engineer',
  'nazev firmy': ' OpenX ',
  'technologie': ' Backend  •  \xa0  Scala  •  \xa0  Cloud  •  \xa0  K8s ',
  'lokalita': ' Zachodniopomorskie ',
  'počet dalsich lokalit': '2 ',
  'mzda': '30240–34944PLN',
  'dolni hranice': '30240',
  'horni hranice': '34944',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior Data Engineer (Manager) ',
  'kategorie': 'data engineer',
  'nazev firmy': ' Data Science UA ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  Data engineering  •  \xa0  SQL ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '2 ',
  'mzda': '18143–19756PLN',
  'dolni hranice': '18143',
  'horni hranice': '19756',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data engineer',
  'nazev firmy': ' Asana ',
  'technologie': ' Data  •  \xa0  Enterprise iPass  •  \xa0  Snaplogic  •  \xa0  SQL ',
  'lokalita': ' Warszawa ',
  'počet dalsich lokalit': '0',
  'mzda': '18666–29833PLN',
  'dolni hranice': '18666',
  'horni hranice': '29833',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data engineer',
  'nazev firmy': ' AllSTARSIT ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  Data engineering  •  \xa0  AI ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': 'SprawdźSalaryMatch',
  'dolni hranice': None,
  'horni hranice': None,
  'mena': None},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data engineer',
  'nazev firmy': ' AVENGA ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  Databricks  •  \xa0  Azure Data Factory ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '20100–26800PLN',
  'dolni hranice': '20100',
  'horni hranice': '26800',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior Big Data Engineer (Python) ',
  'kategorie': 'data engineer',
  'nazev firmy': ' Capgemini Polska Sp. z o.o. ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  SQL  •  \xa0  ETL ',
  'lokalita': ' Kraków ',
  'počet dalsich lokalit': '7 ',
  'mzda': 'SprawdźSalaryMatch',
  'dolni hranice': None,
  'horni hranice': None,
  'mena': None},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data engineer',
  'nazev firmy': ' CHI Software ',
  'technologie': ' Data  •  \xa0  Snowflake  •  \xa0  SQL  •  \xa0  Python ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '0',
  'mzda': '10079–20159PLN',
  'dolni hranice': '10079',
  'horni hranice': '20159',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior Data Engineer - Remote ',
  'kategorie': 'data engineer',
  'nazev firmy': ' Link Group ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  SQL  •  \xa0  Azure ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '5 ',
  'mzda': '28560–35280PLN',
  'dolni hranice': '28560',
  'horni hranice': '35280',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer - Fulfillment (part time) ',
  'kategorie': 'data engineer',
  'nazev firmy': ' Tesco Technology ',
  'technologie': ' Data  •  \xa0  Scala  •  \xa0  Hadoop  •  \xa0  Kafka ',
  'lokalita': ' Kraków ',
  'počet dalsich lokalit': '0',
  'mzda': '15000–23000PLN',
  'dolni hranice': '15000',
  'horni hranice': '23000',
  'mena': 'PLN'},
 {'nazev pozice': ' Principal Data Engineer  ',
  'kategorie': 'data engineer',
  'nazev firmy': ' Digital Hub Warsaw at Bayer ',
  'technologie': ' Data  •  \xa0  Golang  •  \xa0  Kafka  •  \xa0  REST API ',
  'lokalita': ' Warsaw ',
  'počet dalsich lokalit': '0',
  'mzda': '32000–42000PLN',
  'dolni hranice': '32000',
  'horni hranice': '42000',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer with Microsoft Fabric ',
  'kategorie': 'data engineer',
  'nazev firmy': ' AVENGA ',
  'technologie': ' Data  •  \xa0  SQL  •  \xa0  Python  •  \xa0  Spark ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '6 ',
  'mzda': '20160–23520PLN',
  'dolni hranice': '20160',
  'horni hranice': '23520',
  'mena': 'PLN'},
 {'nazev pozice': ' Software Engineer – Data Platforms (Principal) ',
  'kategorie': 'data engineer',
  'nazev firmy': ' VirtusLab ',
  'technologie': ' Data  •  \xa0  Java  •  \xa0  Big data  •  \xa0  Beam ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '5 ',
  'mzda': '30000–37000PLN',
  'dolni hranice': '30000',
  'horni hranice': '37000',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data engineer',
  'nazev firmy': ' Ework Group ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  Azure  •  \xa0  Azure Data Factory ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '29029–32657PLN',
  'dolni hranice': '29029',
  'horni hranice': '32657',
  'mena': 'PLN'},
 {'nazev pozice': ' Lead Data Engineer ',
  'kategorie': 'data engineer',
  'nazev firmy': ' N-iX ',
  'technologie': ' Data  •  \xa0  GCP  •  \xa0  BigQuery  •  \xa0  Microservices architecture ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '3 ',
  'mzda': '25400–31045PLN',
  'dolni hranice': '25400',
  'horni hranice': '31045',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Ops Engineer ',
  'kategorie': 'data engineer',
  'nazev firmy': ' Winged IT ',
  'technologie': ' DevOps  •  \xa0  Linux  •  \xa0  K8s  •  \xa0  TCP ',
  'lokalita': ' Warsaw ',
  'počet dalsich lokalit': '0',
  'mzda': '25400–29029PLN',
  'dolni hranice': '25400',
  'horni hranice': '29029',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Platform Engineer/Consultant - Team Leader ',
  'kategorie': 'data engineer',
  'nazev firmy': ' Elitmind ',
  'technologie': ' Data  •  \xa0  SQL  •  \xa0  SQL Server  •  \xa0  SSIS ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '4 ',
  'mzda': '17976–24024PLN',
  'dolni hranice': '17976',
  'horni hranice': '24024',
  'mena': 'PLN'},
 {'nazev pozice': ' Lead/Senior Data Scientist (NLP) ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Sigmoidal ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  AI  •  \xa0  Machine learning ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '3 ',
  'mzda': '25000–35000PLN',
  'dolni hranice': '25000',
  'horni hranice': '35000',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Scientist (DS/Operations Research Experience) ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Lingaro ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  SQL  •  \xa0  Azure ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '16800–23520PLN',
  'dolni hranice': '16800',
  'horni hranice': '23520',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior Data Scientist ',
  'kategorie': 'data scientist',
  'nazev firmy': ' hubQuest ',
  'technologie': ' AI  •  \xa0  Python  •  \xa0  Machine learning  •  \xa0  Data science ',
  'lokalita': ' Warmińsko-Mazurskie ',
  'počet dalsich lokalit': '2 ',
  'mzda': '28500–37000PLN',
  'dolni hranice': '28500',
  'horni hranice': '37000',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior Data Scientist ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Link Group ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  Data science  •  \xa0  Machine learning ',
  'lokalita': ' Warszawa ',
  'počet dalsich lokalit': '0',
  'mzda': '20160–23520PLN',
  'dolni hranice': '20160',
  'horni hranice': '23520',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Scientist (Forecasting) ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Lingaro ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  SQL  •  \xa0  Azure ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '16800–23520PLN',
  'dolni hranice': '16800',
  'horni hranice': '23520',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Scientist ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Lingaro ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  Optimalization  •  \xa0  Azure ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '21840–25200PLN',
  'dolni hranice': '21840',
  'horni hranice': '25200',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Scientist (Marketing Mix Modeling) ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Lingaro ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  Machnine Learning  •  \xa0  SQL ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '15120–25200PLN',
  'dolni hranice': '15120',
  'horni hranice': '25200',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Scientist  ',
  'kategorie': 'data scientist',
  'nazev firmy': ' CommerzBank ',
  'technologie': ' Data  •  \xa0  Data modeling  •  \xa0  SQL  •  \xa0  Python ',
  'lokalita': ' Łódź ',
  'počet dalsich lokalit': '0',
  'mzda': 'SprawdźSalaryMatch',
  'dolni hranice': None,
  'horni hranice': None,
  'mena': None},
 {'nazev pozice': ' Data Scientist ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Shelf ',
  'technologie': ' Data  •  \xa0  AI  •  \xa0  Data analytics  •  \xa0  NLP ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '2 ',
  'mzda': '24191–32255PLN',
  'dolni hranice': '24191',
  'horni hranice': '32255',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior Data Scientist z Data Analytics ',
  'kategorie': 'data scientist',
  'nazev firmy': ' eConsulting ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  AWS  •  \xa0  R ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '0',
  'mzda': 'SprawdźSalaryMatch',
  'dolni hranice': None,
  'horni hranice': None,
  'mena': None},
 {'nazev pozice': ' Senior Data Scientist (NLP and LLMs) ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Brainly Sp. z o.o. ',
  'technologie': ' AI  •  \xa0  Python  •  \xa0  NLP  •  \xa0  Deep learning ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '6 ',
  'mzda': '26000–35000PLN',
  'dolni hranice': '26000',
  'horni hranice': '35000',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Scientist ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Connectis_ ',
  'technologie': ' Data  •  \xa0  Python  •  \xa0  R  •  \xa0  SQL ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '0',
  'mzda': '18000–22000PLN',
  'dolni hranice': '18000',
  'horni hranice': '22000',
  'mena': 'PLN'},
 {'nazev pozice': ' Junior Fullstack Software Engineer ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Unit8 SA ',
  'technologie': ' Fullstack  •  \xa0  Data scientist  •  \xa0  Python  •  \xa0  React ',
  'lokalita': ' Kraków ',
  'počet dalsich lokalit': '0',
  'mzda': '10000–12000PLN',
  'dolni hranice': '10000',
  'horni hranice': '12000',
  'mena': 'PLN'},
 {'nazev pozice': ' Lead Big Data Developer ',
  'kategorie': 'data scientist',
  'nazev firmy': ' EPAM ',
  'technologie': ' Data  •  \xa0  Big data  •  \xa0  Python  •  \xa0  Scala ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '26500–31500PLN',
  'dolni hranice': '26500',
  'horni hranice': '31500',
  'mena': 'PLN'},
 {'nazev pozice': ' Senior DataOps Engineer  ',
  'kategorie': 'data scientist',
  'nazev firmy': ' AVENGA ',
  'technologie': ' Data  •  \xa0  Airflow  •  \xa0  Git  •  \xa0  Python ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '0',
  'mzda': '26040–29400PLN',
  'dolni hranice': '26040',
  'horni hranice': '29400',
  'mena': 'PLN'},
 {'nazev pozice': ' Software Developer (React, AWS) ',
  'kategorie': 'data scientist',
  'nazev firmy': ' Acceleroid ',
  'technologie': ' Fullstack  •  \xa0  React  •  \xa0  TypeScript  •  \xa0  Node.js ',
  'lokalita': 'Remote',
  'počet dalsich lokalit': '1 ',
  'mzda': '12000–17000PLN',
  'dolni hranice': '12000',
  'horni hranice': '17000',
  'mena': 'PLN'},
 {'nazev pozice': ' Data Engineer ',
  'kategorie': 'data scientist',
  'nazev firmy': ' CHI Software ',

In [ ]:
#making of CSV file with job offers and data for them for specific position

import os

df = pd.DataFrame(seznam)
df   

try:
    current_date = datetime.datetime.now()
    current_date.strftime("%Y_%m_%d")
    nazev_souboru = f"job_offers_{current_date.date()}"
    df.to_csv(f"{nazev_souboru}.csv", index=False)
    print("Dokument byl vytvoren.")
except:
    print("Dokument nebyl vytvořen, zkontroluj kód.")
    raise

Dokument byl vytvoren.

In [31]:
data = pd.read_csv("job_offers_2024-06-27.csv",
                   encoding = "utf-8",
                   sep = ",",
                   decimal = "."
                   )

data

,nazev pozice,kategorie,nazev firmy,technologie,lokalita,počet dalsich lokalit,mzda,dolni hranice,horni hranice,mena
0,BI Data Analyst - Remote,data analyst,Link Group,Business Intelligence • Tableau • E...,Remote,0,10080–11760PLN,10080.0,11760.0,PLN
1,Traffic Data Analyst,data analyst,RTB House,Backend • Python • SQL • GDS,Remote,0,10000–15000PLN,10000.0,15000.0,PLN
2,Senior Data Analyst,data analyst,Brainly Sp. z o.o.,Data • SQL • Google Analytics • ...,Remote,6,17000–23000PLN,17000.0,23000.0,PLN
3,Data Analyst CRM,data analyst,Connectis_,Data • Python • CRM • SQL,Remote,0,17000–21000PLN,17000.0,21000.0,PLN
4,Customer Master Data Senior Analyst,data analyst,Devire Sp. z o.o.,Data • SQL • T-SQL • SAP,Remote,0,25200–33600PLN,25200.0,33600.0,PLN
5,Data Engineer in Microsoft Azure Cloud,data analyst,Avanade Poland,Data • Data analyst • Python • ...,Remote,2,19320–29400PLN,19320.0,29400.0,PLN
6,"Senior Power BI Dev with QlikView, AWS, Snowf...",data analyst,Sigma IT Poland,Business Intelligence • Data analyst • ...,Remote,3,21000–26040PLN,21000.0,26040.0,PLN
7,Data Analyst,data analyst,SymphonyAI,Data • Python • SQL • ETL,Poznań,0,SprawdźSalaryMatch,NaN,NaN,NaN
8,Analytics Engineer,data analyst,Zowie,Data • Data analyst • SQL • Py...,Remote,1,17000–21000PLN,17000.0,21000.0,PLN
9,BI Developer,data analyst,Arche Consulting,Business Intelligence • BI • SQL •...,Wrocław,0,25200–31920PLN,25200.0,31920.0,PLN
10,Data Engineer with Microsoft Fabric,data analyst,AVENGA,Data • SQL • Python • Spark,Remote,6,20160–23520PLN,20160.0,23520.0,PLN
11,Data Scientist (Forecasting),data analyst,Lingaro,Data • Python • SQL • Azure,Remote,1,16800–23520PLN,16800.0,23520.0,PLN
12,Data Engineer,data analyst,Asana,Data • Enterprise iPass • Snaplogic...,Warszawa,0,18666–29833PLN,18666.0,29833.0,PLN
13,Software Engineer,data analyst,CloudFerro S.A,Backend • Python • Linux • Git,Remote,1,14000–19000PLN,14000.0,19000.0,PLN
14,Analytics Engineer,data analyst,Sublime,Data • SQL • Data visualization • ...,Warszawa,0,12000–16000PLN,12000.0,16000.0,PLN
15,Senior Big Data Engineer (Python),data analyst,Capgemini Polska Sp. z o.o.,Data • Python • SQL • ETL,Kraków,7,SprawdźSalaryMatch,NaN,NaN,NaN
16,Data Engineer,data analyst,SquareOne,Data • Python • GCP • SQL,Remote,1,19000–25000PLN,19000.0,25000.0,PLN
17,Snowflake Engineer,data analyst,Elitmind,Business Intelligence • English • E...,Remote,4,17976–25032PLN,17976.0,25032.0,PLN
18,Senior BI Developer (with Power BI),data analyst,EBIS,Business Intelligence • SQL • SQL S...,Remote,5,18480–25200PLN,18480.0,25200.0,PLN
19,Data Engineer,data analyst,CHI Software,Data • Snowflake • SQL • Python,Remote,0,2500–5000USD,2500.0,5000.0,USD
20,Contractor Big Data Engineer,data engineer,OpenNet.pl Sp. z o.o.,Data • Scala • Python • Java,Warszawa,1,14200–25410PLN,14200.0,25410.0,PLN
21,Data Engineer - Data Science Hub,data engineer,Allegro,Data • SQL • Python • DevOps,Warszawa,0,14200–19690PLN,14200.0,19690.0,PLN
22,Data Engineer,data engineer,SquareOne,Data • Python • GCP • SQL,Remote,1,19000–25000PLN,19000.0,25000.0,PLN
23,Data Engineer,data engineer,ITDS,Data • Python • Scala • Unix,Kraków,0,19300–26040PLN,19300.0,26040.0,PLN
24,Big Data Engineer IV,data engineer,OpenX,Backend • Scala • Cloud • K8s,Zachodniopomorskie,2,30240–34944PLN,30240.0,34944.0,PLN
25,Senior Data Engineer (Manager),data engineer,Data Science UA,Data • Python • Data engineering •...,Remote,2,18143–19756PLN,18143.0,19756.0,PLN
26,Data Engineer,data engineer,Asana,Data • Enterprise iPass • Snaplogic...,Warszawa,0,18666–29833PLN,18666.0,29833.0,PLN
27,Data Engineer,data engineer,AllSTARSIT,Data • Python • Data engineering •...,Remote,1,SprawdźSalaryMatch,NaN,NaN,NaN
28,Data Engineer,data engineer,AVENGA,Data • Python • Databricks • A...,Remote,1,20100–26800PLN,20100.0,26800.0,PLN
29,Senior Big Data Engineer (Python),data engineer,Capgemini Polska Sp. z o.o.,Data • Python • SQL • ETL,Kraków,7,SprawdźSalaryMatch,NaN,NaN,NaN
30,Data Engineer,data engineer,CHI Software,Data • Snowflake • SQL • Python,Remote,0,10079–20159PLN,10079.0,20159.0,PLN
31,Senior Data Engineer - Remote,data engineer,Link Group,Data • Python • SQL • Azure,Remote,5,28560–35280PLN,28560.0,35280.0,PLN
32,Data Engineer - Fulfillment (part time),data engineer,Tesco Technology,Data • Scala • Hadoop • Kafka,Kraków,0,15000–23000PLN,15000.0,23000.0,PLN
33,Principal Data Engineer,data engineer,Digital Hub Warsaw at Bayer,Data • Golang • Kafka • REST API,Warsaw,0,32000–42000PLN,32000.0,42000.0,PLN
34,Data Engineer with Microsoft Fabric,data engineer,AVENGA,Data • SQL • Python • Spark,Remote,6,20160–23520PLN,20160.0,23520.0,PLN
35,Software Engineer – Data Platforms (Principal),data engineer,VirtusLab,Data • Java • Big data • Beam,Remote,5,30000–37000PLN,30000.0,37000.0,PLN
36,Data Engineer,data engineer,Ework Group,Data • Python • Azure • Azure ...,Remote,1,29029–32657PLN,29029.0,32657.0,PLN
37,Lead Data Engineer,data engineer,N-iX,Data • GCP • BigQuery • Micros...,Remote,3,25400–31045PLN,25400.0,31045.0,PLN
38,Data Ops Engineer,data engineer,Winged IT,DevOps • Linux • K8s • TCP,Warsaw,0,25400–29029PLN,25400.0,29029.0,PLN
39,Data Platform Engineer/Consultant - Team Leader,data engineer,Elitmind,Data • SQL • SQL Server • SSIS,Remote,4,17976–24024PLN,17976.0,24024.0,PLN
40,Lead/Senior Data Scientist (NLP),data scientist,Sigmoidal,Data • Python • AI • Machine l...,Remote,3,25000–35000PLN,25000.0,35000.0,PLN
41,Data Scientist (DS/Operations Research Experi...,data scientist,Lingaro,Data • Python • SQL • Azure,Remote,1,16800–23520PLN,16800.0,23520.0,PLN
42,Senior Data Scientist,data scientist,hubQuest,AI • Python • Machine learning • ...,Warmińsko-Mazurskie,2,28500–37000PLN,28500.0,37000.0,PLN
43,Senior Data Scientist,data scientist,Link Group,Data • Python • Data science • ...,Warszawa,0,20160–23520PLN,20160.0,23520.0,PLN
44,Data Scientist (Forecasting),data scientist,Lingaro,Data • Python • SQL • Azure,Remote,1,16800–23520PLN,16800.0,23520.0,PLN
45,Data Scientist,data scientist,Lingaro,Data • Python • Optimalization • ...,Remote,1,21840–25200PLN,21840.0,25200.0,PLN
46,Data Scientist (Marketing Mix Modeling),data scientist,Lingaro,Data • Python • Machnine Learning ...,Remote,1,15120–25200PLN,15120.0,25200.0,PLN
47,Data Scientist,data scientist,CommerzBank,Data • Data modeling • SQL • P...,Łódź,0,SprawdźSalaryMatch,NaN,NaN,NaN
48,Data Scientist,data scientist,Shelf,Data • AI • Data analytics • NLP,Remote,2,24191–32255PLN,24191.0,32255.0,PLN
49,Senior Data Scientist z Data Analytics,data scientist,eConsulting,Data • Python • AWS • R,Remote,0,SprawdźSalaryMatch,NaN,NaN,NaN
50,Senior Data Scientist (NLP and LLMs),data scientist,Brainly Sp. z o.o.,AI • Python • NLP • Deep learn...,Remote,6,26000–35000PLN,26000.0,35000.0,PLN
51,Data Scientist,data scientist,Connectis_,Data • Python • R • SQL,Remote,0,18000–22000PLN,18000.0,22000.0,PLN
52,Junior Fullstack Software Engineer,data scientist,Unit8 SA,Fullstack • Data scientist • Python...,Kraków,0,10000–12000PLN,10000.0,12000.0,PLN
53,Lead Big Data Developer,data scientist,EPAM,Data • Big data • Python • Scala,Remote,1,26500–31500PLN,26500.0,31500.0,PLN
54,Senior DataOps Engineer,data scientist,AVENGA,Data • Airflow • Git • Python,Remote,0,26040–29400PLN,26040.0,29400.0,PLN
55,"Software Developer (React, AWS)",data scientist,Acceleroid,Fullstack • React • TypeScript • ...,Remote,1,12000–17000PLN,12000.0,17000.0,PLN
56,Data Engineer,data scientist,CHI Software,Data • Snowflake • SQL • Python,Remote,0,2500–5000USD,2500.0,5000.0,USD
57,ML Engineer with LLM (Principal),data scientist,VirtusLab,AI • Python • MLOps • Machine ...,Remote,3,30000–37000PLN,30000.0,37000.0,PLN
58,Data Engineer in Microsoft Azure Cloud,data scientist,Avanade Poland,Data • Python • Azure • SQL,Remote,2,19320–29400PLN,19320.0,29400.0,PLN
59,Senior Data Engineer,data scientist,Capgemini Polska Sp. z o.o.,Data • SQL • Data mining • Dat...,Gdańsk,7,SprawdźSalaryMatch,NaN,NaN,NaN